.book {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 300px;
    height: 80%;
    font-size: 1.1srem;
    color: black;
    margin: 4px;
    border-radius: 8px ;
    /*BOX SHADOW*/
    -webkit-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
}

.book h2 {
    height: 10%;
}

.book img {
    height: 80%;
    
}

.book img {
    width: 65%;
    margin:0 auto;
    padding: 1%;
}

@media only screen and (max-width: 959px) {
    .book {
        width: 135px;
        height: 180px;
        font-size: .5rem;
    }
    .book img {
        width: 80%;
        height: 60%;
    }
}