h1 {
    font-size: 4.9rem;
    -webkit-text-stroke: 1px white;
    color: transparent;
}

body {
    background-color: indianred;
    height: 100vh;
    margin: 0 auto;
}

#books-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
}

h1 {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

/*SPINNER*/

.spinner, .spinner:after {
    width: 64px;
    height: 64px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -32px;
    margin-left: -32px;
    border-radius: 50%;
    z-index: 2
}

.spinner {
    background-color: transparent;
    border-top: 10px solid rgb(253, 253, 253);
    border-right: 10px solid rgb(253, 253, 253);
    border-bottom: 10px solid rgb(253, 253, 253);
    border-left: 10px solid rgba(0, 0, 0, 0.2);
    transform: translateZ(0);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: .9s;
    animation-name: spinner-loading
}

@keyframes spinner-loading {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(1turn)
    }
}

@media only screen and (max-width: 959px) {
    h1 {
        font-size: 3.0rem;
        -webkit-text-stroke: 1px white;
        color: transparent;
    }
}